
*{
	font-family: 'Courier New', Courier, monospace;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
}

.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(180deg,
        rgb(95, 109, 133) 0%,
        rgb(34, 54, 73) 50%,
        rgb(5, 8, 9) 100%);
}

/* Title of the game */
.title{
	position: absolute;
	top: 20px;
	font-size: 4rem;
	z-index: 2;
}

/* Score Board */
.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top:150px;
	z-index: 1;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}

/* displaying three buttons in one line */
.options{
	font-weight: bold;
    border-radius: 5px;
    border: none;
    color: rgb(176, 198, 204);
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
	margin-top: 50px;
	
}

/* Styling on all three buttons */
.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	background:  rgb(115, 153, 182);
	outline: none;
	border-color: rgb(115, 153, 182);
	border: none;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: rgb(20, 62, 89);
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
}