*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #000000;
    color: beige;
}
html{
    scroll-behavior: smooth;
}
body {
   background: #000000;
    color:aliceblue;
}
#i1 {
    margin-top: 70px;
    border-radius: 50%;
    max-width: 35%;
    height: 25%;
    image-rendering: smooth;
    float: right;
  }

.container {
    padding:10px 10% 10% 10px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content: '';
    width:0 ;
    height:1px;
    background:#df07a9;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:15%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 50 px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#df07a9;
    font-weight: bolder;
}
/* ------------------------------------------------------- Education ---------------------------------------------------------------- --*/
#webdev {
    margin-top:5%;
    margin-bottom: 5%;
   border-radius:10%;
    max-width: 35%;
    height: 25%;
    image-rendering: smooth;
    float: left;
}
.edu h1 {
    margin-top:25%;
    font-size: 50px;
    color: #df07a9;
    font-weight: bolder;
}
.edu ul {

   font-size:26px;
   margin-top: 0%;
   margin-left: 45%;
}
.edu ul ul {

    font-size:16px;
    margin-left: 5%;
 }
 /* ------------------------------------------------------- Portfolio ---------------------------------------------------------------- --*/
 #Portfolio{
    display:block ;
 }

 #mywork1 {
    margin-top:10%;
    margin-bottom: 5%;
   border-radius:10%;
    max-width: 35%;
    height: 25%;
    image-rendering: smooth;
    float: left;
 }
 #Portfolio h1 {
    margin-top:25%;
    font-size: 50px;
    color: #df07a9;
    font-weight: bolder;
 }
 .note {
    color:#969595;
    font-size: 14px;
 }
  /* ------------------------------------------------------- contact ---------------------------------------------------------------- --*/
  #contact h1 {
    margin-top:25%;
    font-size: 50px;
    color: #df07a9;
    font-weight: bolder;
 }
 
  form input, form textarea {
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin: 15px 0;
    font-size:18px;
    border-radius: 6px;
    color:#fff;
  }
  form button {
    padding: 14px 60px;
    font-size: 18px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: #df07a9;
    border-radius: 5%;
    border:#969595;
  }
  #contact img {
    position:relative;
    display:inline-block;
    height: 40px;
    width: 40px;
    margin:10px 5px 5px 5px;
   border-radius:10%;
    max-width: 35%;
    height: 25%;
    image-rendering: smooth;
    float:initial;
  }

 #contact div span{
    margin-left: 0px;
    margin-top: 10%;
    color: #d7dbda;   
 }
 #msg {
    color:#969595;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50%;
    justify-items: center;
    align-items: center;
}
/* code for responsive design ---------------------------------------------------------------- --*/
    @media only screen and (max-width: 600px) {
        nav ul li{
        display: flex;
        flex-direction:column;
        text-align: center;
        font-size: 30px;
     }
     .edu{
        display:flex;
        flex-direction:column;
     }
}

